body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 20px;
  text-align: left;
}

.result {
  display: flex;
  max-width: 400px;
  margin: 10px auto;
  align-items: center;
}

.left {
  margin-right: 70px;
  text-align: right;
}

.right {
  padding-top: 20px;
}

.right p{
  margin-bottom: 0;
  margin-top: 10px;
  text-align: center;
}

h3 {
  font-size: 28px;
}
